.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 14em; 
}
.container {
    width: 500px;
    height: 500px;
    z-index: 100;
    display: grid; 

    
}

button{
    font-size: 30px;
    margin: 12px;
}









